.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 11px 0 9px 20px;
}
.logo{
	font-size: 11px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Poppins-extra';
}
.navigatsia{
	display: inline-block;
	vertical-align: middle;
	margin-left: 92px;
}
.nav-li{
	font-size: 11px;
	display: inline-block;
	margin-right: 25px;
	font-family: 'Poppins-extra';
}
.profileicon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
}
body{
	padding-top: 50px;
	/*color: #F6F8F9;*/
}
/*first section*/
.maincontainer{
	width: 1160px;
	margin: 0 auto;
}
.firsttitle{
	font-size: 24px;
	color: #202124;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 40px;
	font-family: 'Poppins';

}
.trendingpart{
	width: 360px;
	display: inline-block;
}
.imagepart{
	position: relative;
}
.imagepart img{
	width: 360px;
	height: 180px;
}
.magna{
	font-size: 16px;
	color: #fff;
	position: absolute;
	top: 28px;
	left: 40px;
	font-family: 'Poppins';
}
.paragraph{
	font-size: 13px;
	color: #A6ADB4;
	margin-top: 66px;
	margin-left: 40px;
	width: 280px;
	font-family: 'Poppins';
}
.timeicon{
	width: 16px;
	display: inline-block;
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 40px;
	vertical-align: middle;
}
.time{
	color: #A6ADB4;
	font-size: 13px;
	width: 43px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 11px;
	margin-bottom: 40px;
	vertical-align: middle;
	

}
.trendingpartmiddle{
	width: 360px;
	display: inline-block;
	margin-left: 35px;
	margin-right: 35px;
}
.secondtitle{
	font-size: 24px;
	color: #202124;
	text-transform: uppercase;
	margin-top: 58px;
	margin-bottom: 40px;
	font-family: 'Poppins';

}
/*secondsection*/
/*firs side*/
.imagebox{
	width: 760px;
	display: inline-block;
	vertical-align: top;
}
.image3{
	width: 760px;
	position: relative;
}
.imagesxva{
	margin-top: 40px;
	width: 760px;
}
.imagemesame{
	position: relative;
}
.onimage{
	font-size: 16px;
	color: #ffffff;
	position: absolute;
	top: 194px;
	left: 308px;
	font-family: 'Poppins-semi';
}
/*second side*/
.otherimagebox{
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}
.lastimage{
	width: 300px;
}
.formargin{
	margin-top: 102px;
	margin-bottom: 102px;
}
/*footer*/
.footer{
	height: 200px;
	margin-top: 37px;
	background-color: #A6ADB4;
	font-family: 'Poppins-semi';
}
.footerlogo{
	font-size: 13px;
	color:  #FFFFFF;
	display: inline-block;
	margin-top: 58px;
	vertical-align: top;
}
.nav-footer{
	font-size: 13px;
	color: #CBD0D3;
	width: 65px;
	display: inline-block;
	margin-top: 58px;
	margin-left: 90px;
	vertical-align: top;
}
.productad{
	font-size: 11px;
	color: #CBD0D3;
	display: inline-block;
	margin-top: 58px;
	margin-left: 105px;
	vertical-align: top;
}
.footerimages{
	width: 160px;
	display: inline-block;
	margin-top: 58px;
	margin-left: 110px;
	vertical-align: top;
}